.promo {
    margin-bottom: 63px;
}

.promo__content {
    display: flex;
    column-gap: 24px;
    padding-left: 120px;
    padding-top: 68px;
    border-radius: 59px;
    background-color: #F4F6F5;
}

.promo__text {

}

.promo__title {
    max-width: 480px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.25;
    margin-bottom: 40px;
}

.promo__desc {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(48/32);
    letter-spacing: -0.05em; 
    margin-bottom: 32px
}

.promo__btn-wrapper {
    display: flex;
    align-items: center;
    column-gap: 34px;
}

.promo__btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url('./../../icons/decor-yellow.svg');
}

.promo__btn {
    padding: 18px 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 30px; 
}

.higligth {
    position: relative;
    display: inline-block;
}

.higligth span {
    position: relative;
}

.higligth::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: -0px;
    left: -40px;
    right: -160px;
    background-color: white;
    transform: rotate(-2deg);
}

.higligth-yellow::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: -0px;
    left: -40px;
    right: -110px;
    background-color: #ebd96b;
    transform: rotate(-2deg);
}