.header {
    padding: 46px 0 56px;
}

.header__inner {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo .logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    color: black;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.item__link {
    color: black;
}

.header__nav {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;
}

.header__nav-btn {

    background-color: black;
    border-radius: 7px;
    color: white;
    padding: 13px 22px 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
}